@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root {
  --ff-1: 'Epilogue';

  --fs-1: .875rem;
  --fs-2: 1rem;
  --fs-3: 1.125rem;
  --fs-4: 5rem;
  --fs-5: 2.125rem;

  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;

  --lh-1: 1;
  --lh-2: 1.14;
  --lh-3: 1.56;

  --almost-white: #FAFAFA;
  --white: #FFFFFF;
  --light-grey: #ADADAD;
  --medium-grey: #686868;
  --black: #151515;
}

html {
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: var(--ff-1);
  font-size: var(--fs-3);
  color: var(--medium-grey);
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  padding: 1rem 1rem 1.5rem;
}

.header__nav {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: var(--fs-2);
  background-color: var(--white);
  width: 15rem;
  padding: 1.5rem;
  transition: 350ms ease-in-out;
}

.header__nav.active {
  right: 0;
}

.header__nav > ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
}

.header__nav ul {
  list-style: none;
}

.header__nav-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: color 150ms;
}

.header__nav a {
  transition: color 150ms;
}

.header__nav-btn:hover,
.header__nav a:hover {
  color: var(--black);
}

.header__nav-close-btn-container {
  align-self: end;
  margin-bottom: 1rem;
}

.header__nav-dropdown-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--medium-grey);
}

.header__nav-dropdown-arrow {
  transition: 350ms ease-in-out;
}

.header__nav-dropdown-btn.rotate .header__nav-dropdown-arrow {
  rotate: 180deg;
}

.header__nav-dropdown-list {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition: 550ms ease-in-out;
}

.header__nav-dropdown-list.active {
  max-height: 50rem;
  overflow-y: auto;
}

.header__nav-dropdown-list-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 1.5rem .5rem;
}

.header__nav-dropdown-list li {
  display: flex;
  gap: 1rem;
}

.header__nav-list--right {
  align-items: center;
  font-size: var(--fs-1);
}

.link-btn {
  display: inline-block;
  border: 1px solid var(--medium-grey);
  padding: .3rem 0;
  border-radius: 1rem;
}

.header__nav-btn-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.header__logo-nav-toggle {
  display: flex;
  justify-content: space-between;
}

.main__hero {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 3rem;
}

.main__hero-info {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: var(--fs-2);
  font-weight: var(--fw-500);
  text-align: center;
  padding: 1rem;
}

h1 {
  font-size: var(--fs-5);
  color: var(--black);
  line-height: var(--lh-2);
  margin-bottom: 1rem;
}

.main__hero-text p {
  margin-bottom: 1.5rem;
}

.main__hero-btn {
  background-color: var(--black);
  color: var(--white);
  padding: .75rem 1.5rem;
  transition: background-color 150ms, color 150ms;
}

.main__hero-btn:hover {
  background-color: var(--white);
  color: var(--black);
}

.main__hero-client {
  display: flex;
  justify-content: center;
  gap: 1.75rem;
}

@media (min-width: 90rem) {
  .header {
    padding: 2rem 2.5rem;
  }

  .main__hero {
    flex-direction: row;
    align-items: end;
    gap: 7.8125rem;
    padding: 2rem 8.125rem 8.125rem;
  }

  .main__hero-img {
    width: 93.5%;
  }

  .main__hero-info {
    gap: 6.75rem;
    font-size: var(--fs-3);
    text-align: left;
    padding-bottom: 0;
  }

  h1 {
    font-size: var(--fs-4);
    line-height: var(--lh-1);
    margin-bottom: 3rem;
  }

  .main__hero-text p {
    margin-bottom: 3.2rem;
  }

  .main__hero-btn {
    padding: .9rem 1.9rem;
  }

  .main__hero-client {
    justify-content: start;
    gap: 2.5rem;
  }

  .header__nav-close-btn {
    display: none;
  }

  .header__nav {
    position: fixed;
    left: 11.6rem;
    right: 2.5rem;
    width: auto;
    height: 2.625rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: var(--fs-1);
    padding: 2.7rem 0;
  }

  .header__nav > ul {
    flex-direction: row;
    gap: 2.5rem;
  }

  .header__nav-li-sec {
    position: relative;
    margin-left: -2.5rem;
  }

  .header__nav-li-third {
    position: relative;
  }

  .header__nav-list--right .header__nav-btn {
    padding: .5rem 1.1rem;
  }

  .header__nav-dropdown-list {
    position: absolute;
    top: 2.3rem;
    right: 0;
    background-color: var(--white);
    border-radius: .625rem;
    box-shadow: 1px 1px 15px rgba(0 0 0 / .15);
  }

  .header__nav-dropdown-list-container {
    padding: 1.5rem;
    width: max-content;
  }
}
